.container
{
	margin-top: 10px;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.largeText
{
	font-size: 100px;
	font-family: arial;
}

.switch
{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	
}

.switch input
{
	opacity: 0;
	width: 0;
	height: 0;
}

.circle
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50px;
	border-width: 5px;
	border-style: solid;
	
}

input:checked + .circle
{
	background-color: yellow;
}

